# champsim pinned memory traces
*.champsim
# compressed .champsim files
*.xz
*.Identifier

*\:Zone.Identifier
*\.Identifier
*.Identifier

002-addressesHistory
003-addressesAnalysis/
__pycache__/
.venv/
.vscode/
