# champsim pinned memory traces
*.champsim
# compressed .champsim files
*.xz
*.Identifier

*\:Zone.Identifier
*\.Identifier
*.Identifier

002-addressesHistory/
003-addressesAnalysis/
005-ChampSim_Stats/
pin_champsim/bin/
OldStats
000-simstats*/
__pycache__/
.venv/
.vscode/
