# champsim pinned memory traces
*.champsim
# compressed .champsim files
*.xz
*.BK
*.champsim.BK
*.Identifier

*\:Zone.Identifier
*\.Identifier
*.Identifier
./venv/*
750-tot_simStats_v4_MultiConf/A14/*
750-tot_simStats_v4_MultiConf/glc/*

002-addressesHistory/
003-addressesAnalysis/
005-ChampSim_Stats/
pin_champsim/bin/
pin_champsim/obj/
777-*/
770-tot_memTraces_v3/

OldStats
000-simstats*/
010-*/
__pycache__/
.venv/
./venv/*
venv/
.vscode/
*.o
